.places{
    max-width: 320px;
    box-sizing: content-box;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
}

@media screen and (min-width:768px) {
    .places{
        max-width: 768px;
        margin-top: 88px;
        gap: 73px;
    }
}

@media screen and (min-width:1024px) {
    .places{
        max-width: 928px;
        margin-top: 92px;
        gap: 80px;
    }
}

@media screen and (min-width:1280px) {
    .places {
        max-width: 984px;
    }
}