.header {
    background-color: #2A2C2F;
    display: flex;
    justify-content: space-between;
    max-width: 288px;
    min-height: 42px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 16px;
    }


@media screen and (min-width:768px) {
    .header {
        max-width: 720px;
        padding-top: 16px;

    }
}

@media screen and (min-width:1024px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (min-width:1280px) {
    .header {
        max-width: 1184px;
        min-height: 52px;
    }
}