
.content {
    max-width: 320px;
    box-sizing: content-box;
}

@media screen and (min-width:768px) {
    .content {
        max-width: 768px;
    }
}

@media screen and (min-width:1024px) {
    .content {
        max-width: 1024px;
    }
}

@media screen and (min-width:1280px) {
    .content {
        max-width: 1280px;
    }
}