.cover__title {
    width: 288px;
    margin-left: 16px;
    margin-top: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
    z-index: 2;
    text-decoration: none;

}

@media screen and (min-width:768px) {
    .cover__title {
        width: 560px;
        height: 152px;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        margin-left: 104px;
        margin-top: 115px;
    }
}

@media screen and (min-width:1024px) {
    .cover__title {
        width: 560px;
        height: 152px;
        margin-top: 195px;
        margin-left: 232px;
    }
}

@media screen and (min-width:1280px) {
    .cover__title {
        margin-left: 312px;
        margin-top: 245px;
    }
}