.place {
    max-width: 320px;
    box-sizing: content-box;
    margin-top: 14px;

}

@media screen and (min-width:768px) {
    .place {
        max-width: 768px;
        margin-top: 0;
        display: grid;
        grid-template-columns: 364px 352px;
    }
}

@media screen and (min-width:1024px) {
    .place {
        max-width: 928px;
        grid-template-columns: 440px 1fr;
    }
}

@media screen and (min-width:1280px) {
    .place {
        max-width: 984px;
        grid-template-columns: 460px 1fr;
    }
}