.footer {
    max-width: 304px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    margin-bottom: 24px;
}

@media screen and (min-width:768px) {
    .footer {
        max-width: 720px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 88px;
    }
}

@media screen and (min-width:1024px) {
    .footer {
        max-width: 928px;
        margin-top: 92px;
    }
}
@media screen and (min-width: 1280px) {
    .footer {
        max-width: 1184px;
    }
}