.cover__item {
    max-width: 320px;
    min-height: 200px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    margin-top: 66px;
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
}

.cover__item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: #2A2C2F;
    transition-property: 1.5s;
    background-size: cover;
}

.cover__item:hover::before {
    opacity: 0.8;
    transition: 1.5s; 
}

@media screen and (min-width:768px) {
    .cover__item {
        max-width: 768px;
        min-height: 480px;
    }

    .cover__item::before {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (min-width:1024px) {
    .cover__item {
        max-width: 1024px;
        min-height: 640px;
    }

    .cover__item::before {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (min-width:1280px) {
    .cover__item {
        max-width: 1184px;
        min-height: 740px;
    }

    /* если убираю размеры линзы, ее размеры переходят и на блок футер*/
    .cover__item::before {
        max-width: 1184px;
        min-height: 740px;
    }
}